<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- Title Page -->	
	<title>Login</title>

</head>
    <body>
            <div id="container">
                <form>
                    <!-- Username -->
                    <div>
                        <label for="name">Email:</label>
                        <input type="name">
                    </div>


                    <div style="height: 20px;"></div>
                    <!-- Password -->
                    <div>
                        <label for="username">Password:</label>
                        <input type="password">
                    </div>

                    <p><a href="/auth/google/login">Log in with Google</a></p>
                
                        <!-- Submit Button -->
                    <input type="submit" value="Login">
                </div>
            </form>		
        </div>
    </body>
</html>